# 5. 고배당주 배당락일 공매도 / 배당락전일 매수

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data1 = pd.read_csv('./drive/Shareddrives/CS360/madcamp-3-week/data/strategy-6/쌍용C&E_배당일정.csv', encoding = 'CP949', thousands = ',')
data2 = pd.read_csv('./drive/Shareddrives/CS360/madcamp-3-week/data/strategy-6/쌍용C&E_일별주가.csv', encoding = 'CP949', thousands = ',')

alloc_date = list(data1[(0 < data1['현금배당금']) & (data1['주식종류']=='보통')]['기준일'])

for date in alloc_date.copy():
  if date.startswith('2020/') or date.startswith('2021/03/'):
    alloc_date.remove(date)

def make_date_in_calendar(date, calendar):
  if date not in calendar:
    day = int(date[-2:])
    day -= 1
    date = date[:-2] + str(day)
    if date in calendar:
      return date
    else:
      return make_date_in_calendar(date, calendar)
  else:
    return date

print(alloc_date)
for i in range(len(alloc_date)):
  calendar = list(data2['일자'])

  alloc_date[i] = make_date_in_calendar(alloc_date[i], calendar)
    

d1 = data2.iloc[np.array(data2.index[data2['일자'].isin(alloc_date)])]
d2 = data2.iloc[np.array(data2.index[data2['일자'].isin(alloc_date)]) + 2]

d1_open = np.array(d1['시가'])
d1_close = np.array(d1['종가'])
d2_open = np.array(d2['시가'])
d2_close = np.array(d2['종가'])

print(alloc_date)
print(d1_open)
print(d1_close)



d1

['2016/12/31', '2017/06/30', '2017/09/30', '2017/12/31', '2018/03/31', '2018/06/30', '2018/09/30', '2018/12/31', '2019/03/31', '2019/06/30', '2019/09/30', '2019/12/31', '2021/06/30', '2021/09/30', '2021/12/31', '2022/03/31']
['2016/12/29', '2017/06/30', '2017/09/29', '2017/12/28', '2018/03/30', '2018/06/29', '2018/09/28', '2018/12/28', '2019/03/29', '2019/06/28', '2019/09/30', '2019/12/30', '2021/06/30', '2021/09/30', '2021/12/30', '2022/03/31']
[ 8130  7700  7990  8380  5670  6020  6300  6330  6260  6560 27550 23600
 18800 11850 14550 14700]
[ 8230  7710  7960  8350  5670  6110  6300  6400  6290  6450 28400 23900
 18650 11850 14650 14800]

,일자,시가,고가,저가,종가,전일비,Unnamed: 6,등락률,거래량,금액(백만),신용비,개인,기관,외인(수량),외국계,프로그램,외인비
74,2022/03/31,8130,8240,8120,8230,▲,110,1.35,588696.0,4819.0,0.20,-167226,165058,-3135,-2748,39957,3.22
133,2021/12/30,7700,7730,7660,7710,▼,-10,-0.13,518144.0,3986.0,0.20,192750,-81987,-113077,-77519,-107158,3.03
196,2021/09/30,7990,8020,7930,7960,▼,-50,-0.62,570670.0,4541.0,0.17,181309,-59590,-140124,-83696,-149276,3.59
258,2021/06/30,8380,8390,8280,8350,,0,0.00,621670.0,5187.0,0.22,-86397,43048,151703,5101,65444,3.35
629,2019/12/30,5670,5690,5620,5670,,0,0.00,477355.0,2700.0,0.19,-23038,-35613,81564,-41277,-73789,4.40
691,2019/09/30,6020,6140,5990,6110,▲,70,1.16,353223.0,2154.0,0.09,-129743,41685,-189177,60281,95165,5.25
754,2019/06/28,6300,6390,6260,6300,▼,-40,-0.63,529426.0,3341.0,0.29,-51046,45897,5166,-872,60356,5.03
816,2019/03/29,6330,6480,6120,6400,▲,10,0.16,1783490.0,11347.0,0.44,-73121,196887,-113019,-115636,-178328,5.21
875,2018/12/28,6260,6390,6190,6290,▲,10,0.16,1262112.0,7917.0,0.54,60089,-237487,190389,172374,361766,3.38
937,2018/09/28,6560,6580,6310,6450,▼,-70,-1.07,1533690.0,9788.0,0.82,18645,-401485,339867,309093,199156,2.67
998,2018/06/29,27550,29150,26750,28400,▲,1400,5.19,512834.0,14458.0,0.74,27148,29937,-60248,-46839,-55265,3.08
1058,2018/03/30,23600,24150,23050,23900,▲,400,1.70,105290.0,2509.0,0.50,-24282,27152,537,-8227,13483,3.94
1119,2017/12/28,18800,19350,18500,18650,▼,-250,-1.32,104181.0,1950.0,0.49,5299,-32963,27739,12190,-12523,3.97
1176,2017/09/29,11850,12050,11600,11850,▼,-50,-0.42,210714.0,2495.0,0.59,56157,-82746,22119,-8964,2518,3.50
1240,2017/06/30,14550,14700,14450,14650,▲,100,0.69,118317.0,1727.0,0.63,516,909,-3428,11091,-3170,2.05
1362,2016/12/29,14700,14900,14350,14800,▲,150,1.02,182960.0,2699.0,0.50,-22779,54476,-34352,-34129,-16497,3.96

In [ ]:
import pandas as pd
import numpy as np

results1 = dict() # 배당락일 공매도
results2 = dict() # 배당락일 현물매수

def make_date_in_calendar(date, calendar):
  if date not in calendar:
    day = int(date[-2:])
    day -= 1
    date = date[:-2] + str(day)
    if date in calendar:
      return date
    else:
      return make_date_in_calendar(date, calendar)
  else:
    return date

def get_results(stock_name):

  print(f'[{stock_name}]')

  alloc_file_path = f'./drive/Shareddrives/CS360/madcamp-3-week/data/strategy-6/{stock_name}_배당일정.csv'
  price_file_path = f'./drive/Shareddrives/CS360/madcamp-3-week/data/strategy-6/{stock_name}_일별주가.csv'
  alloc_file = pd.read_csv(alloc_file_path, encoding = 'CP949', thousands = ',')
  price_file = pd.read_csv(price_file_path, encoding = 'CP949', thousands = ',')

  alloc_date = list(alloc_file[(alloc_file['현금배당금'] > 0) & (alloc_file['주식종류'] == '보통')]['기준일'])

  # 공매도 금지 기간 필터링
  for date in alloc_date.copy(): 
    if date.startswith('2020') or date.startswith('2021/03'):
      alloc_date.remove(date)

  # 거래일 아닌 일자 거래일로 만들기
  for i in range(len(alloc_date)):
    calendar = list(price_file['일자'])
    alloc_date[i] = make_date_in_calendar(alloc_date[i], calendar)

  data1 = price_file.iloc[np.array(price_file.index[price_file['일자'].isin(alloc_date)]) + 1] 
  data2 = price_file.iloc[np.array(price_file.index[price_file['일자'].isin(alloc_date)]) + 2] 

  # 1.배당락일 공매도
  data1_open = np.array(data1['시가'])
  data1_close = np.array(data1['종가'])
  data1_profit = 100 * (data1_open - data1_close) / data1_open

  # 2.배당락전일 현물매수
  data2_open = np.array(data2['시가'])
  data2_close = np.array(data2['종가'])
  data2_profit = 100 * (data2_close - data2_open) / data2_open

  results1[stock_name] = {
      'total' : len(alloc_date),
      '승리' : np.sum(np.where(data1_profit > 0, 1, 0)),
      '패배' : np.sum(np.where(data1_profit <= 0, 1, 0)),
      '평균수익률' : np.average(np.where(data1_profit > 0, data1_profit, 0)),
      '평균손실률' : np.average(np.where(data1_profit <= 0, data1_profit, 0)),
  }

  results2[stock_name] = {
      'total' : len(alloc_date),
      '승리' : np.sum(np.where(data2_profit > 0, 1, 0)),
      '패배' : np.sum(np.where(data2_profit <= 0, 1, 0)),
      '평균수익률' : np.average(np.where(data2_profit > 0, data2_profit, 0)),
      '평균손실률' : np.average(np.where(data2_profit <= 0, data2_profit, 0)),
  }
  
  print('-배당락일 공매도')
  print(results1[stock_name])
  print('-배당락전일 현물매수')
  print(results2[stock_name])
  print()


  


stock_list = ['삼성증권', 'NH투자증권', '한국금융지주', '이베스트투자증권', '효성', '하나금융지주', '기업은행', '금호석유', '한국가스공사', '우리금융지주', 'LX인터내셔널', '삼성카드', 'POSCO홀딩스', '쌍용C&E']
for stock_name in stock_list:
  get_results(stock_name)

[삼성증권]
-배당락일 공매도
{'total': 11, '승리': 8, '패배': 3, '평균수익률': 0.7576034375234101, '평균손실률': -0.3379927572805238}
-배당락전일 현물매수
{'total': 11, '승리': 3, '패배': 8, '평균수익률': 0.23168731508593038, '평균손실률': -0.6620748631455312}

[NH투자증권]
-배당락일 공매도
{'total': 11, '승리': 8, '패배': 3, '평균수익률': 1.4770311544774353, '평균손실률': -0.04456009107171898}
-배당락전일 현물매수
{'total': 11, '승리': 5, '패배': 6, '평균수익률': 0.4572953540782491, '평균손실률': -0.8741856686309801}

[한국금융지주]
-배당락일 공매도
{'total': 11, '승리': 5, '패배': 6, '평균수익률': 0.5880936798125036, '평균손실률': -0.8004596554296337}
-배당락전일 현물매수
{'total': 11, '승리': 5, '패배': 6, '평균수익률': 0.575898625162316, '평균손실률': -0.4016024867794282}

[이베스트투자증권]
-배당락일 공매도
{'total': 10, '승리': 8, '패배': 2, '평균수익률': 1.3178749979977433, '평균손실률': -0.04608294930875576}
-배당락전일 현물매수
{'total': 10, '승리': 7, '패배': 3, '평균수익률': 0.7441781844693387, '평균손실률': 0.0}

[효성]
-배당락일 공매도
{'total': 10, '승리': 5, '패배': 5, '평균수익률': 1.0775100350014832, '평균손실률': -0.3256174651971241}
-배당락전일 현물매수
{'total': 10, '승리': 6, '패배': 4, '평균수익률': 0.8819671879309269, '평균손실률': -0.4776585841837738}

[하나금융지주]
-배당락일 공매도
{'total': 20, '승리': 9, '패배': 11, '평균수익률': 0.5034904049089246, '평균손실률': -0.48006600540644156}
-배당락전일 현물매수
{'total': 20, '승리': 10, '패배': 10, '평균수익률': 0.883937956274352, '평균손실률': -0.39211585208303584}

[기업은행]
-배당락일 공매도
{'total': 10, '승리': 8, '패배': 2, '평균수익률': 1.064737004063023, '평균손실률': -0.038461538461538464}
-배당락전일 현물매수
{'total': 10, '승리': 2, '패배': 8, '평균수익률': 0.1258940300686031, '평균손실률': -0.2697109588098453}

[금호석유]
-배당락일 공매도
{'total': 10, '승리': 3, '패배': 7, '평균수익률': 0.3643530389382092, '평균손실률': -0.9930138683061381}
-배당락전일 현물매수
{'total': 10, '승리': 4, '패배': 6, '평균수익률': 0.5792758713538407, '평균손실률': -0.7476139401126958}

[한국가스공사]
-배당락일 공매도
{'total': 7, '승리': 3, '패배': 4, '평균수익률': 0.4618253181329158, '평균손실률': -1.505269245107165}
-배당락전일 현물매수
{'total': 7, '승리': 4, '패배': 3, '평균수익률': 0.37329622150406677, '평균손실률': -0.9696113806415576}

[우리금융지주]
-배당락일 공매도
{'total': 3, '승리': 1, '패배': 2, '평균수익률': 0.15015015015015015, '평균손실률': -0.6613756613756614}
-배당락전일 현물매수
{'total': 3, '승리': 2, '패배': 1, '평균수익률': 0.7040799083757346, '평균손실률': 0.0}

[LX인터내셔널]
-배당락일 공매도
{'total': 10, '승리': 3, '패배': 7, '평균수익률': 0.3116555138228877, '평균손실률': -1.690498315716527}
-배당락전일 현물매수
{'total': 10, '승리': 2, '패배': 8, '평균수익률': 0.30502208715811896, '평균손실률': -0.9632028483860637}

[삼성카드]
-배당락일 공매도
{'total': 10, '승리': 8, '패배': 2, '평균수익률': 1.0344839017316483, '평균손실률': -0.30323259612968084}
-배당락전일 현물매수
{'total': 10, '승리': 5, '패배': 5, '평균수익률': 0.44106642647694033, '평균손실률': -0.7240196466761206}

[POSCO홀딩스]
-배당락일 공매도
{'total': 29, '승리': 20, '패배': 9, '평균수익률': 0.8603214524320025, '평균손실률': -0.2539859186655095}
-배당락전일 현물매수
{'total': 29, '승리': 15, '패배': 14, '평균수익률': 0.5647520874134058, '평균손실률': -0.38900377943645964}

[쌍용C&E]
-배당락일 공매도
{'total': 16, '승리': 10, '패배': 6, '평균수익률': 1.212832833083363, '평균손실률': -1.3315299440058208}
-배당락전일 현물매수
{'total': 16, '승리': 8, '패배': 8, '평균수익률': 1.1037450495651244, '평균손실률': -0.5958311763184563}

In [ ]:
# 배당락일 공매도
data1 = []
cols1 = ['종목명', '승리', '패배', '승률(%)', '패율(%)', '평균수익률(%)', '평균손실률(%)', '기대수익률(%)']

for stock_name in stock_list:
  nw = results1[stock_name]['승리']
  nl = results1[stock_name]['패배']
  w = nw / results1[stock_name]['total']
  l = nl / results1[stock_name]['total']
  wp = results1[stock_name]['평균수익률']
  lp = results1[stock_name]['평균손실률']
  res = w * wp + l * lp

  d = [stock_name, nw, nl, f"{w*100:.2f}", f"{l*100:.2f}", f"{wp:.2f}", f"{lp:.2f}", f"{res:.2f}"]
  data1.append(d)

DF1 = pd.DataFrame(data = data1, columns=cols1)
DF1

         종목명  승리  패배  승률(%)  패율(%) 평균수익률(%) 평균손실률(%) 기대수익률(%)
0       삼성증권   8   3  72.73  27.27     0.76    -0.34     0.46
1     NH투자증권   8   3  72.73  27.27     1.48    -0.04     1.06
2     한국금융지주   5   6  45.45  54.55     0.59    -0.80    -0.17
3   이베스트투자증권   8   2  80.00  20.00     1.32    -0.05     1.05
4         효성   5   5  50.00  50.00     1.08    -0.33     0.38
5     하나금융지주   9  11  45.00  55.00     0.50    -0.48    -0.04
6       기업은행   8   2  80.00  20.00     1.06    -0.04     0.84
7       금호석유   3   7  30.00  70.00     0.36    -0.99    -0.59
8     한국가스공사   3   4  42.86  57.14     0.46    -1.51    -0.66
9     우리금융지주   1   2  33.33  66.67     0.15    -0.66    -0.39
10   LX인터내셔널   3   7  30.00  70.00     0.31    -1.69    -1.09
11      삼성카드   8   2  80.00  20.00     1.03    -0.30     0.77
12  POSCO홀딩스  20   9  68.97  31.03     0.86    -0.25     0.51
13     쌍용C&E  10   6  62.50  37.50     1.21    -1.33     0.26

In [ ]:
# 배당락전일 현물매수
data2 = []
cols2 = ['종목명', '승리', '패배', '승률(%)', '패율(%)', '평균수익률(%)', '평균손실률(%)', '기대수익률(%)']

for stock_name in stock_list:
  nw = results2[stock_name]['승리']
  nl = results2[stock_name]['패배']
  w = nw / results2[stock_name]['total']
  l = nl / results2[stock_name]['total']
  wp = results2[stock_name]['평균수익률']
  lp = results2[stock_name]['평균손실률']
  res = w * wp + l * lp

  d = [stock_name, nw, nl, f"{w*100:.2f}", f"{l*100:.2f}", f"{wp:.2f}", f"{lp:.2f}", f"{res:.2f}"]
  data2.append(d)

DF2 = pd.DataFrame(data = data2, columns=cols2)
DF2

         종목명  승리  패배  승률(%)  패율(%) 평균수익률(%) 평균손실률(%) 기대수익률(%)
0       삼성증권   3   8  27.27  72.73     0.23    -0.66    -0.42
1     NH투자증권   5   6  45.45  54.55     0.46    -0.87    -0.27
2     한국금융지주   5   6  45.45  54.55     0.58    -0.40     0.04
3   이베스트투자증권   7   3  70.00  30.00     0.74     0.00     0.52
4         효성   6   4  60.00  40.00     0.88    -0.48     0.34
5     하나금융지주  10  10  50.00  50.00     0.88    -0.39     0.25
6       기업은행   2   8  20.00  80.00     0.13    -0.27    -0.19
7       금호석유   4   6  40.00  60.00     0.58    -0.75    -0.22
8     한국가스공사   4   3  57.14  42.86     0.37    -0.97    -0.20
9     우리금융지주   2   1  66.67  33.33     0.70     0.00     0.47
10   LX인터내셔널   2   8  20.00  80.00     0.31    -0.96    -0.71
11      삼성카드   5   5  50.00  50.00     0.44    -0.72    -0.14
12  POSCO홀딩스  15  14  51.72  48.28     0.56    -0.39     0.10
13     쌍용C&E   8   8  50.00  50.00     1.10    -0.60     0.25